//====================================================================================================
.header {
	&__nav {
		@media (min-width: $pc) {
			background-color: #b5dc61;
		}
		@media (max-width: $pc) {
			position: relative;
			z-index: 25;
		}
	}

	&__menu {
		z-index: 2;

		@media (max-width: $pc) {
			top: 1.8125rem;
			left: -150%;
			opacity: 0.95;
			visibility: hidden;
		}

		&_active {
			@media (max-width: $pc) {
				top: rem(84);
				left: rem(20);
				visibility: visible;
				opacity: 1;

				& > .nav__box {
					&::after {
						background-color: rgba(255, 255, 255, 0.7);
					}
				}
			}
		}
	}

	&__menu-contact {
		position: relative;
		padding: rem(23) rem(18);
		z-index: 1;
		border-radius: 5px;
		background-color: #2d302d;
		&:not(.title) {
			color: #ffffff !important;
		}

		& > .contacts-info {
			position: relative;
			z-index: 1;
		}

		& > svg {
			position: absolute;
			top: -0.9375rem;
			right: 1rem;
			width: 1rem;
			height: 1.1875rem;
			fill: #2d302d;
			z-index: 1;
			transform: rotate(180deg);
		}
	}

	&__contact-column {
		position: fixed;
		top: 1.8125rem;
		left: -150%;
		opacity: 0.95;
		visibility: hidden;
		z-index: 2;
		width: rem(337);
		transition: top 0.3s, visibility 0.3s, opacity 0.3s;
		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: calc(100% + 1.25rem);
			height: calc(100% + 1.25rem);
			border-radius: 5px;
			transform: translate(-50%, -50%);
			transition: background-color 0.3s;
			background-color: rgb(255, 255, 255, 0.7);
		}

		&_active {
			top: rem(84);
			left: auto;
			right: rem(20);
			visibility: visible;
			opacity: 1;

			@media (max-width: $pc) {
				z-index: 25;
			}
		}
	}

	&__list {
	}

	&__item {
		@media (min-width: $pc) {
			&:not(&:first-child) {
				a {
					padding-left: rem(22);
				}

				&::before {
					background-color: #e6f5b4;
				}
			}
			&:not(&:last-child) {
				a {
					padding-right: rem(22);
				}
			}
		}
	}

	&__link {
		display: inline-flex;
		align-items: center;
		transition: color 0.3s, transform 0.3s;
		padding: rem(4) 0;
		@media (min-width: $pc) {
			height: rem(40);
		}
		@media (any-hover: hover) {
			&:hover {
				color: #f2f8d9;
			}
		}

		&:active {
			color: #f2f8d9;
			@media (min-width: $pc) {
				transform: scale(0.9);
			}
		}

		&_active {
			font-weight: 700;
			color: #f2f8d9;
			pointer-events: none;
		}

		&_down {
			position: relative;
			@media (max-width: $pc) {
				width: 100%;
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					right: 0;
					width: rem(12);
					height: rem(12);
					background: url(../img/icons/pointer.svg);
					background-size: 100% 100%;
					transition: transform 0.3s;
					transition: transform 0.3s;
					transform: translateY(-50%);
				}
			}
		}
	}

	&__body {
		position: relative;
		background-image: url(../img/bg.png);
		background-repeat: repeat-x;
		padding: rem(23) 0 rem(18);
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.4);
		}
		@media (min-width: $pc) {
			padding: rem(13) 0 rem(26);
		}
	}

	&__columns {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;

		@media (min-width: $pc) {
			justify-content: space-between;
		}

		& > .contacts-info {
			max-width: rem(310);
		}
	}

	&__logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		transition: transform 0.3s, opacity 0.3s;
		img {
			width: rem(90);
			height: rem(90);
			object-fit: contain;
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.75;
				transform: scale(0.95);
			}
		}

		&:active {
			opacity: 0.75;
			transform: scale(0.9);
		}
	}

	&__contacts {
		align-items: end;

		@media (max-width: $pc) {
			display: none !important;
		}
	}

	&__address {
		@media (max-width: $pc) {
			display: none !important;
		}
	}

	&__contact {
		justify-content: end;
		text-align: right;
		white-space: nowrap;

		&_phone {
			svg {
				width: rem(32) !important;
				height: rem(32) !important;
			}
		}
	}

	&__callback {
		display: inline-block;
		color: #89ba63;

		@media (any-hover: hover) {
			&:hover {
				color: initial !important;
			}
		}

		&:active {
			color: initial !important;
		}
	}

	&__contact-link {
		display: inline-block;
		border-bottom: 1px solid currentColor;
	}

	&__company {
		margin-bottom: rem(8);
		padding-top: rem(16);
		font-size: rem(24);
		font-weight: 700;
		text-transform: uppercase;
	}

	&__button {
		@media (max-width: $pc) {
			position: absolute;
			top: rem(16);
			width: rem(48);
			height: rem(48);
			background-color: #8abb63;
			border-radius: 5px;
			z-index: 20;
		}
	}
}

.button_contact {
	right: rem(20);
	@media (min-width: $pc) {
		display: none;
	}

	svg {
		width: rem(28);
		height: rem(23);
		fill: #ffffff;
	}
	@media (max-width: $pc) {
		&_active {
			z-index: 25;
		}
	}
}

//====================================================================================================
.header {
	&__item {
		&_down {
			@media (min-width: $pc) {
				position: relative;
				z-index: 9;

				&:hover {
					& > .drop-down {
						display: flex;
					}
				}
			}
			@media (max-width: $pc) {
				flex-direction: column;
				align-items: start !important;
				justify-content: center;
				height: auto !important;

				&::before {
					top: rem(21) !important;
				}
			}
		}
	}

	&__link_down_active {
		@media (max-width: $pc) {
			color: #e6f5b4 !important;
			transition: margin-bottom 0.1s;
			margin-bottom: rem(4);
			&::after {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
}

.drop-down {
	display: flex;
	flex-direction: column;
	font-weight: 500;
	font-size: rem(14);

	@media (min-width: $pc) {
		position: absolute;
		top: rem(24);
		left: 0;
		display: none;
		padding-top: rem(20);
		width: max-content;
		z-index: 8;
	}

	@media (max-width: $pc) {
		padding-left: rem(16);
		height: 0;
		opacity: 0;
		visibility: hidden;
		transition: height 0.1s, opacity 0.1s, visibility 0.1s;
		width: 100%;
		color: #ffffff;
		&_active {
			height: 100%;
			opacity: 1;
			visibility: visible;
		}
	}

	&__item {
		@media (min-width: $pc) {
			background-color: #b5dc61;
			& > .drop-down {
				display: none;
			}
			&:first-child {
				padding-top: rem(8);
			}

			&:last-child {
				padding-bottom: rem(8);
			}
		}
	}

	&__link {
		width: 100%;
		height: rem(32);
	}
}

.button_burger {
	display: none;
	@media (max-width: $pc) {
		left: rem(20);
		display: block;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: calc(50% - rem(13));
			position: absolute;
			width: rem(26);
			height: rem(4);
			border-radius: 5px;
			background-color: #ffffff;
		}
		&::before {
			top: rem(11);
		}
		&::after {
			bottom: rem(11);
		}
		span {
			top: calc(50% - rem(2));
		}
	}

	&_active {
		@media (max-width: $pc) {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(3));
				transform: rotate(45deg);
			}
			z-index: 25;
		}
	}
}

.breadcrumbs {
	position: relative;
	z-index: 1;
	border-bottom: 1px solid #dbdbdb;

	&_list {
		display: flex;
		align-items: center;
		height: rem(28);
		@media (min-width: $tablet) {
			height: rem(48);
		}
		@media (max-width: $mobile) {
			justify-content: center;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		column-gap: rem(8);
		padding: 0 rem(10);
		transition: opacity 0.3s;
		@media (min-width: $tablet) {
			row-gap: rem(12);
			padding: 0 rem(25);
		}

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.75;
			}
		}
	}

	&__item:last-child {
		padding: 0 rem(8);
		color: #848484;
		pointer-events: none;

		@media (min-width: $tablet) {
			padding: 0 rem(15);
		}
	}

	&__item:first-child {
		padding: 0 rem(15) 0 0 !important;

		@media (min-width: $tablet) {
			padding: 0 rem(25) 0 0 !important;
		}
	}

	&__item:not(:last-child) {
		position: relative;
		padding: 0 rem(15) 0 rem(10);
		color: #8abb63;
		text-decoration: underline;

		&::after {
			content: "";
			position: absolute;
			top: 55%;
			right: rem(0);
			width: rem(4);
			height: rem(4);
			border-radius: 50%;
			transform: translate(0, -50%);
			background-color: #8abb63;
		}
		@media (min-width: $tablet) {
			padding: 0 rem(25) 0 rem(18);
			&::after {
				width: rem(6);
				height: rem(6);
			}
		}
	}

	&__link {
		display: inline-block;
		font-size: rem(10);
		@media (min-width: $tablet) {
			font-size: rem(14);
		}
	}

	&__icon {
		width: rem(14);
		height: rem(14);
		fill: #8abb63;
		@media (min-width: $tablet) {
			width: rem(20);
			height: rem(20);
		}
	}
}
